@use "../colors";
@use "../general";

.dashBox--container-wrap {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 5px;

  .dashBoxProcentView-container {
    display: grid;
    border-radius: 15px;
    background: colors.$dashboard-Employees-Box;
    background-size: 300px;
    transition: background 0.7s ease-out;
    border: 1px solid colors.$border-Primary;
    box-shadow: colors.$dashboard-Employees-Box--Shadow;
    &:hover {
      background-position: 150px;
    }
  }
}
.dashBox--container-wrapExtraHigh {
  height: calc(100% + 10rem);
}
