@use "../colors";
@use "../mixin";
@use "../general";

.typeServiceChart {
  @include mixin.input;
}

.dashboard__container--main {
  height: calc(100vh - 6rem);
  @include mixin.overflowScroll;

  // display flex to be able to split the screen
  display: flex;

  .dashboard__left--owner-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media (max-width: general.$sm) {
    height: 100vh;
  }

  @media (max-width: general.$md) {
    flex-direction: column;
    .dashboard__left--owner-container {
      flex: none; // with this I'm broking the screen split but I have to test  is it work with full container //- like this I give the default size of any object probably
    }
  }
}

.dashboard__table--owner {
  flex: 0.37; // keep the width of the screen when I split the screen on 2

  display: flex; // spliting the 2 tables in half
  flex-direction: column;
  gap: 20px;
}

// left side of dashboard

// wrapping the text and date picker !
.dashboardTop--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  @media (max-width: general.$sm) {
    flex-direction: column;
    gap: 20px;
  }
}

.dashboardleft__owner--WelcomeText {
  h3 {
    font-size: 16px;
    color: colors.$font-Primary;
  }
  p {
    font-size: 10px;
    color: colors.$font-Primary;
    font-weight: 700;
  }
}

.dashboardLeft__cards--top {
  padding: 10px;

  // DashboardCardWrap Component Styling !!
  .dashboardCardWrapTop {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;

    @media (max-width: general.$lg) {
      flex-direction: column;
    }
  }
}
.date-picker {
  @include mixin.input;
  // add the icon inside of the data-picker style as global !
  @include mixin.inputFiledsAddIcon;
  text-align: center;
}

//midle section of the dashbaord // chart and small info cards
.dashboardOwner__chart-card--container {
  height: 320px; // the main size of the container !! i ADDED dynamicly if the size is change also the size of the other elements will change to the same size -- I add height: 100%
  display: flex;
  justify-content: space-around;

  @media (max-width: general.$lg) {
    height: 85vh;
    flex-direction: column;
  }

  .dashOwner__infoCard {
    flex: 0.4;

    // height: 100%;

    //DashboardCardWrapMiddle component Style!!
    .dashboardCardWrapMiddle--Wrap {
      display: flex;
      flex-direction: column;
      padding: 10px;
      gap: 15px;
    }

    @include mixin.overflowScroll;
  }

  // chart main container from parrent component
  .dashOwner__lineChart {
    flex: 0.9;
    display: flex;
    flex-direction: column;
    gap: 20px;

    //Styling for Select Option
  }
  .dashLine__chart {
    // size of the line chart
    width: 100%;
    height: 100%;
    // height: 40vh;
  }

  // DashboardSelectOption component Styling !!
  .typeService__owner-dashboard {
    text-align: center;

    select {
      @include mixin.input;
      padding: 10px 40px;
      text-align: start;
    }
  }
}

// Dashboard Middle 2row styling
.dashboard__middle_secoundRow {
  margin-top: 20px;
  // I add display grid to split the option from table do not use flex-direction ... this is more like shortcut
  display: grid;
  gap: 25px;

  .dashChartOption--wrap {
    display: flex;
    justify-content: center;
    gap: 20px;
    select {
      @include mixin.input;
      padding: 10px 40px;
      text-align: start;
    }
  }

  .dashLine__chart {
    // size of the line chart
    width: 100%;
    height: 40vh;

    @media (max-width: general.$sm) {
      height: 70vh;
    }
  }
}
