@use "../colors";
@use "../general";
@use "../mixin";

.dashboardEmployees__container {
  // border-top: 1px solid green;
  height: calc(100vh - 6rem);
  overflow-y: auto;
  display: flex;
  gap: 20px;

  &::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$font-style;
  }
}

.dashbaordEmployeeDataLeft,
.dashboardEmployee__table {
  border-left: 1px solid colors.$border-Primary;
  border-bottom: 1px solid colors.$border-Primary;
}

.dashboardEmployee__table {
  p {
    padding: 20px;
    border-bottom: 1px solid colors.$border-Primary;
    color: colors.$font-Secound;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
  }
}

.dashbaordEmployeeDataLeft {
  flex: 1;
  height: 100vh; //maybe we need to remove this enable scroll
}
.dashboardEmployee__table {
  flex: 0.5; // If I remove I will have the hole length of the table
  height: 100vh; //maybe we need to remove this enable scroll
}

.dashboardEmployees--wrap {
  // border: 1px solid rgb(0, 136, 255);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.employees__left--top,
.employees__left--bottom {
  flex: 1;
  display: flex;
  gap: 10px;
}

.dashboardEmployees__chart--hour {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .byHourRangeChartSettings {
    .date-picker {
      @include mixin.input;
      //  I add the icon as global I just add this to create space between input and icon
      @include mixin.inputFiledsAddIcon;
    }

    .chartHour-Wraper {
      padding: 7px;
    }
  }

  @media (max-width: general.$sm) {
    .byHourRangeChartSettings {
      text-align: center;
    }

    .chartHour-Wraper {
      padding: 0px;
    }
  }
}
.dashboardEmployees__chart--year {
  flex: 1;
}

.dashboardEmployees__statistic--statisticInfo {
  flex: 0.6;
  padding: 5px;
  display: flex;
  gap: 10px;
  flex-direction: column;

  .dashboardEmployees__container--dashBoxTotal {
    flex: 1;

    .dashBoxTotalWrap {
      display: flex;
      gap: 10px;
      height: 100%;
      .dashBoxTotalMonth,
      .dashBoxTotalYear {
        flex: 1;
      }

      // DashboxTotal VIEW!
      .dashBoxTotalView__container {
        height: 100%;
        border-radius: 15px;
        background: colors.$dashboard-Employees-Box;
        background-size: 300px;
        transition: background 0.7s ease-out;
        border: 1px solid colors.$border-Primary;
        box-shadow: colors.$dashboard-Employees-Box--Shadow;

        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;

        &:hover {
          background-position: 150px;
        }

        .dashbox-TotalView--title {
          font-weight: 700;
          font-size: 13px;
        }

        .dashbox-TotalView--subTitle {
          font-weight: 400;
          font-size: 10px;
          color: colors.$font-Secound;
        }

        .dashbox-TotalView--count {
          font-weight: 700;
          color: rgba(19, 206, 143, 0.4);
        }
      }
    }
  }

  // Expertise & Services
  // upcoming info
  .dashboardEmployees__container--info-service {
    flex: 1;
    height: 100%;
    overflow-y: auto;

    display: flex;
    gap: 10px;
  }

  .dashBoxAllServices--employees,
  .dashInfoBox--employees {
    text-align: center;
    padding: 4px 10px;
    flex: 1;

    border-radius: 15px;
    background: colors.$dashboard-Employees-Box;
    background-size: 300px;
    transition: background 0.7s ease-out;
    border: 1px solid colors.$border-Primary;
    box-shadow: colors.$dashboard-Employees-Box--Shadow;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 4px;

    &:hover {
      background-position: 150px;
    }

    .dashBoxAllServices--employees--listWrap {
      text-align: start;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 3px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: colors.$font-style;
      }
    }

    .dashBoxAllServices--employees__footer {
      font-size: 10px;
      font-weight: 700;
      cursor: pointer;
      transition: general.$transition;

      &:hover {
        color: colors.$NavLinkActive;
      }

      &:active {
        transform: scale(0.9);
      }
    }

    .dashBoxAllServices--employees__title {
      font-weight: 700;
      font-size: 13px;
    }

    ul {
      font-size: 12px;
      color: colors.$font-Secound;
    }

    .dashInfoBox--employees__title {
      font-weight: 700;
      font-size: 13px;
    }
  }
}

.dashboardEmployees__statistic--procent {
  flex: 0.6;
  border-left: 1px solid colors.$border-Primary;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$font-style;
  }
}

@media (max-width: general.$lg) {
  .dashboardEmployees__container {
    gap: 10px;
    flex-direction: column;
    height: 100vh;
  }
}
@media (max-width: general.$md) {
  .dashboardEmployee__table {
    order: -1;
  }

  .employees__left--top,
  .employees__left--bottom {
    flex-direction: column;
  }
}

// charts
.chartLineHours {
  height: 100%;
  width: 100%;
}

.chartLineDays {
  height: 100%;
  width: 100%;
}

.chartDays--wrap {
  padding: 20px;
}
