@use "../../colors";

.DashBox__iconBox {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  img {
    width: 40px;
    // filter: invert(96%) sepia(97%) saturate(12%) hue-rotate(237deg)
    //   brightness(103%) contrast(103%);
  }
}

.dashBoxProcentView--wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .totalAppDashBox {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .dash-procent-wrap {
      display: flex;
      justify-content: flex-end;
      align-content: center;
      align-items: center;
      border-radius: 5px;
      padding: 4px;
      // background-color: #ccf5e7; // or Red #ffd6e0
    }
  }

  .footerDashProcent {
    color: colors.$font-Secound;
    font-size: 10px;
    text-align: center;
  }
}

.positiveNumberGreen {
  color: #13ce8f;
  background-color: #ebfff8;
  font-size: 13px;
  img {
    width: 20px;
    filter: invert(81%) sepia(54%) saturate(3872%) hue-rotate(106deg)
      brightness(91%) contrast(85%);
  }
}

.negativeNumberRed {
  color: #ff597a;
  background-color: #feeaef;
  font-size: 13px;
  img {
    transform: rotate(180deg);
    width: 20px;
    filter: invert(45%) sepia(84%) saturate(1096%) hue-rotate(314deg)
      brightness(99%) contrast(104%);
  }
}
