@use "../../general";
@use "../../colors";

.dashboardCustomer__wrap-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: colors.$dashboardBoxes;
  border-radius: 15%;

  // Add this property because of the background not fit into the box!
  height: 100%;
  width: 65%;

  .customerIconName {
    display: flex;
    align-items: center;
    gap: 20px;
    letter-spacing: 1px;
    font-weight: 500;

    img {
      width: 40px;
    }
  }

  .customerData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
  }
}
