@use "../../colors";
@use "../../general";

.dashboardUpcomingEvent--container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: colors.$dashboardBoxes;
  border-radius: 15%;

  // Add this property because of the background not fit into the box!
  height: 100%;
  width: 65%;

  h4 {
    text-align: center;
  }

  .dashboardUpcomingEvent--wrap {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 1px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: colors.$font-style;
    }

    .dashboardCustomer__event {
      display: flex;
      flex-direction: column;
      gap: 5px;

      p:last-child {
        color: colors.$font-style;
      }
    }

    .dashboardCustomer__icon {
      img {
        width: 100px;
        transition: general.$transition;

        &:hover {
          filter: brightness(0) saturate(100%) invert(87%) sepia(38%)
            saturate(3081%) hue-rotate(299deg) brightness(99%) contrast(103%);
        }
      }
    }
  }
}

// When there is no events !
.dashboardUpcoming--Empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &:first-child {
    color: colors.$font-tertiary;
    font-size: 0.85em;
  }

  p:last-child {
    color: colors.$font-Secound;
    transition: general.$transition;
    font-size: 0.75em;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      color: colors.$font-style;
    }
  }
}
