.settingsRootContainer {
  nav {
    padding: 15px;
    // border: 1px solid red;

    ul {
      height: 100%;
      display: flex;
      justify-content: space-around;
      text-align: center;

      li {
        img {
          margin: 0 auto;
          width: 40px;
        }
      }
    }
  }
}
