@use "../../../mixin";
@use "../../../colors";
@use "../../../general";

.dashboardEmployees__table--container {
  width: 100%;
  height: calc(100vh - 140px); // I need to fix !!
  padding: 20px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$font-style;
  }

  @include mixin.table;
}

@media (max-width: general.$md) {
  .dashboardEmployees__table--container {
    padding: 0; //do not show scrolling if there is only one data !;
    height: calc(100vh - 350px);
  }
}

.tableSettings--wrap {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  flex-wrap: wrap;
  padding: 15px;

  select {
    @include mixin.input;
  }

  .date-picker {
    @include mixin.input;
    // add the icon inside of the data-picker style as global !
    @include mixin.inputFiledsAddIcon;
    text-align: center;
  }

  @media (max-width: general.$md) {
    justify-content: center;
    text-align: center;
    gap: 20px;
  }
}
