@use "../../../mixin";
@use "../../../colors";
@use "../../../general";

.topCustTableView__container,
.allEmployeesTableView__container {
  flex: 1; // keeping the size equeal
  border: 1px solid colors.$border-Primary;
  display: flex;
  flex-direction: column;

  .dashboard--TableTitle--owner {
    text-align: center;
    padding: 4px;
    font-weight: 500;
    font-size: 15px;
    color: colors.$font-Primary;
  }
}

.dashboard__tableView_wrap {
  padding: 15px;
  @include mixin.table;
}
