$background: linear-gradient(to right, #fdfbfb, #ebedee);
$background-alternative: #fdfbfb;

$button: linear-gradient(to right, #cd5a5a, #ff8080);
// $button: linear-gradient(to right, #cd5a5a, #ff8080, #fba9a9, #f9d0d0, #f7e7e7);
$button-dark: linear-gradient(to right, #d25b5b, rgb(254, 147, 147));

$font-Primary: #39424e;
$font-Secound: #666666;
$font-style: #fe9393;

$border-Primary: #fdfbfb;
$border-Primary-Dark: #b7b7b7;

$error: #da0404;
$success: #1e90ff;

$NavLinkActive: #ff8080;
