@use "./mixin";
@use "./colors";

.errorContainer {
  height: 100vh;
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: rgba(#13242c, 0.1);
    font-size: 9em; //   font-weight: 200;
    letter-spacing: 1rem;
  }
}
