@use "./general";
@use "./colors";
@use "./mixin";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  @include mixin.overflowScroll;
}

body {
  background: colors.$background;
  line-height: 1.5;
  font-family: general.$primary-font;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  display: block;
}

a {
  color: colors.$font-Secound;
  text-decoration: none;
}

// THIS WILL BE USED FOR SOME SECTION AS BACKGROUND VERY GOOD !!!!!!!!!!!!
// .hero__container {
//   height: 100vh;
//   background-image: linear-gradient(
//       67.5deg,
//       rgb(215, 215, 215) 0%,
//       rgb(215, 215, 215) 46%,
//       rgb(198, 198, 198) 46%,
//       rgb(198, 198, 198) 49%,
//       rgb(181, 181, 181) 49%,
//       rgb(181, 181, 181) 56%,
//       rgb(164, 164, 164) 56%,
//       rgb(164, 164, 164) 61%,
//       rgb(146, 146, 146) 61%,
//       rgb(146, 146, 146) 75%,
//       rgb(129, 129, 129) 75%,
//       rgb(129, 129, 129) 84%,
//       rgb(112, 112, 112) 84%,
//       rgb(112, 112, 112) 100%
//     ),
//     linear-gradient(
//       22.5deg,
//       rgb(215, 215, 215) 0%,
//       rgb(215, 215, 215) 46%,
//       rgb(198, 198, 198) 46%,
//       rgb(198, 198, 198) 49%,
//       rgb(181, 181, 181) 49%,
//       rgb(181, 181, 181) 56%,
//       rgb(164, 164, 164) 56%,
//       rgb(164, 164, 164) 61%,
//       rgb(146, 146, 146) 61%,
//       rgb(146, 146, 146) 75%,
//       rgb(129, 129, 129) 75%,
//       rgb(129, 129, 129) 84%,
//       rgb(112, 112, 112) 84%,
//       rgb(112, 112, 112) 100%
//     ),
//     linear-gradient(
//       112.5deg,
//       rgb(215, 215, 215) 0%,
//       rgb(215, 215, 215) 46%,
//       rgb(198, 198, 198) 46%,
//       rgb(198, 198, 198) 49%,
//       rgb(181, 181, 181) 49%,
//       rgb(181, 181, 181) 56%,
//       rgb(164, 164, 164) 56%,
//       rgb(164, 164, 164) 61%,
//       rgb(146, 146, 146) 61%,
//       rgb(146, 146, 146) 75%,
//       rgb(129, 129, 129) 75%,
//       rgb(129, 129, 129) 84%,
//       rgb(112, 112, 112) 84%,
//       rgb(112, 112, 112) 100%
//     ),
//     linear-gradient(90deg, rgb(231, 231, 231), rgb(195, 195, 195));
//   background-blend-mode: overlay, overlay, overlay, normal;
// }
