@use "./colors";
@use "./general";
@use "./mixin";

.signUpContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  // FOR ALL LABELS !
  label {
    font-size: 12px;
    color: colors.$font-Secound;
  }
  select {
    @include mixin.input;
    background-color: white;
    padding: 10px;
  }

  h1 {
    text-align: center;
    padding: 10px;
    color: colors.$font-Primary;
  }

  form {
    display: flex;
    flex-direction: column;

    button {
      color: white;
      margin: 15px 0;

      @include mixin.gradientBackground--btn-action(
        rgba(198, 205, 119, 0),
        rgba(86, 85, 85, 0.182),
        rgba(196, 196, 196, 0.312),
        rgba(86, 85, 85, 0.601)
      );
    }
  }
}
