@use "../../../colors";
@use "../../../general";
@use "../../../mixin";

.currentVacationView--container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  box-shadow: general.$box-shadow-secondary;
  border-radius: 25px;
  text-align: center;

  background: colors.$timeManagementBoxes;
}
.currentVacationView--title {
  font-size: 16px;
  font-weight: 700;
  color: colors.$font-Primary;
}

.currentVacationView--dates {
  display: flex;
  flex-direction: column;
  gap: 20px;
  p {
    display: flex;
    flex-direction: column;
    text-align: center;
    strong {
      color: #000;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      font-size: 14px;
      font-weight: 500;
      color: colors.$font-Secound;
    }
  }
}

.currentVacationView__currentTime-btn {
  @include mixin.editButton;
}

@media (max-width: general.$md) {
  .currentVacationView--title {
    padding: 10px;
  }
}

//Vacation Create or Edit PopUp !
.vacation__page--container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  p {
    &:first-child {
      font-size: 18px;
      font-weight: 600;
      color: colors.$font-Primary;
    }

    &:last-child {
      font-size: 15px;
      font-weight: 500;
      color: colors.$font-Primary;
    }
  }
}

.edit--save--btn {
  @include mixin.saveAddBtn;
}
