@use "../../../colors";
@use "../../../general";
@use "../../../mixin";

.timeManagement__main-container {
  height: calc(100vh - 200px);
  width: 100%;
  gap: 20px;
  border-top: 1px solid #e0e0e0;

  @include mixin.overflowScroll;

  @media (max-width: general.$sm) {
    height: 140vh;
  }
}

.timeManagemen-title {
  padding: 20px;
  font-weight: 600;
  color: colors.$font-Primary;
}

.timeManagement--text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .timeManagemen-subTitle {
    width: 50%;
    font-size: 14px;
    color: colors.$font-Secound;
    text-align: center;
  }
  @media (max-width: general.$md) {
    .timeManagemen-subTitle {
      width: 70%;
    }
  }
  @media (max-width: general.$sm) {
    .timeManagemen-subTitle {
      width: 100%;
    }
  }
}

.timeManagement--wrap-components {
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 0 auto;

  @media (max-width: general.$lg) {
    // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: 100vh;
  }

  @media (max-width: general.$md) {
    height: 200vh;
    width: 80%;
  }
}

// Time Empty Slot
.timemanagementEmpty__container {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: general.$box-shadow-secondary;
  border-radius: 25px;

  background: colors.$timeManagementBoxes;

  .timeManagement__emtpy--subTitle {
    width: 70%;
    font-size: 13px;
  }
}

.resetBtn--wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;

  h6 {
    transition: general.$transition;
    &:hover {
      color: colors.$font-style;
    }
    &:active {
      transform: scale(0.9);
    }
  }
}
