@use "../mixin";
@use "../colors";

.customerFormInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 280px;
  padding: 5px;

  input {
    display: flex;
    margin: 10px 0px;
    @include mixin.input();
  }

  label {
    font-size: 12px;
    color: colors.$font-Secound;
  }

  span {
    font-size: 12px;
    color: colors.$error;
    padding: 3px;
    display: none;
  }

  // Classes for showing the input errors !
  input:invalid[focused="true"] {
    border: 1px solid colors.$error;
  }
  input:invalid[focused="true"] ~ span {
    display: block;
  }
}
